
## KMS_STRATEGY is one of googlekms | awskms | azurekms | tencentkms | custom | filesystem | none
## 
##      "filesystem" is ONLY for local development. Do not use in higher-level systems
##
##      "custom" is an customer-supplied service which implements decryption and encryption 
##      endpoints with a specific format. See the file at /lib/kms/custom-kms.ts
##
##      "none" is for those (production) cases where the database already is integrated with an HSM
##      and can perform column-level encryption on certain data. It can also be used for
##      local development in the absence of a KMS service.
##
KMS_STRATEGY=filesystem
## Additional parameters for encryption services based on strategy chosen:
## 
## For Google's KMS
## ================
##      GOOGLE_KMS_CREDENTIAL_FILE_LOCATION
##      MAX_PLAIN_TEXT_LENGTH
##
## For a Custom KMS
## ================
##      CUSTOM_KMS_ENCRYPTION_ENDPOINT=https://....
##      CUSTOM_KMS_DECRYPTION_ENDPOINT=https://....
##
## For a filesystem-based KMS:
## ===========================
##      Where to store the data files if using a file system based approach to storage
##          The key file name under this directory needs to be named: kms-keys.json
FS_BASED_DATA_DIR=/Users/David/open-certs/data
##
## For Tencent KMS
## ===============
##      MAX_PLAIN_TEXT_LENGTH
##
## For AWS KMS
## ===============
##      MAX_PLAIN_TEXT_LENGTH
##
## For Azure KMS
## ===============
##      MAX_PLAIN_TEXT_LENGTH
   

## DAO_STRATEGY is one of rdb (relational DB) | cassandra | mongo 
DAO_STRATEGY=rdb
# DAO_STRATEGY=cassandra
## RDB_DIALECT is one of postgres | mysql | oracle | mssql (which match the dialect options of Sequelize)
# RDB_DIALECT=mysql
# RDB_DIALECT=postgres
# RDB_DIALECT=mssql
RDB_DIALECT=oracle

## Need to specify the auth domain for OIDC
AUTH_DOMAIN=http://localhost:3000

## If using TOTP for multi-factor authentication we need to set the issuer
## value. 
## The MFA_ISSUER value can be set to your organization, and should include the environment
## if it is not a production environment:  Example: MFA_ISSUER=My Org DEV
## The MFA_ORIGIN is just the http schem, domain, and optionally port
## The MFA_ID is just the domain (no schema or port)
MFA_ISSUER=Open Trust Development
MFA_ORIGIN=http://localhost:3000
MFA_ID=localhost

## Optional setting:
## For users who are logging into the tenant itself for administration
## purposes, how long should the token be issued for (in hours) if 
## different from the default TTL in the constants file?
PORTAL_AUTH_TOKEN_TTL_HOURS=10

########################################################################################
## DB ENV SETTINGS
## MYSQL
## =====
# DB_USER=db_user
# DB_PASSWORD=db_password
# DB_HOST=db_host
# DB_NAME="opentrust_oidc_iam"
# DB_PORT=3306
# DB_MIN_POOL_SIZE=4
# DB_MAX_POOL_SIZE=10
# DB_ENABLE_QUERY_LOGGING=true

## POSTGRESQL
## ==========
# DB_USER=db_user
# DB_PASSWORD=db_password
# DB_HOST=db_host
# DB_NAME="opentrust_oidc_iam"
# DB_PORT=5432
# DB_MIN_POOL_SIZE=4
# DB_MAX_POOL_SIZE=10
# DB_ENABLE_QUERY_LOGGING=true

## MSSQL
## =====
# DB_USER=db_user
# DB_PASSWORD=db_password
# DB_HOST=db_host
# DB_NAME="opentrust_oidc_iam"
# DB_PORT=1433
# DB_PORT=54202
# DB_MIN_POOL_SIZE=4
# DB_MAX_POOL_SIZE=10
# DB_ENABLE_QUERY_LOGGING=true
## Specific to MSSQL if using AD for authentication
# DB_AUTH_SCHEME="ntlm"
# DB_USER_DOMAIN="opentrust.org"

## ORACLE
## ======
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=db_host
DB_ORACLE_SERVICE_NAME=oracle_service_name
DB_PORT=1521
DB_MIN_POOL_SIZE=4
DB_MAX_POOL_SIZE=10
DB_ENABLE_QUERY_LOGGING=true
## Specific to ORACLE if using AD for authentication
# DB_ORACLE_USER_EXTERNAL_AUTH= true | false


## CASSANDRA
## CASSANDRA_CONTACT_POINTS is a comma-separated list of host to connect to
# CASSANDRA_CONTACT_POINTS=localhost
# CASSANDRA_KEYSPACE=opentrust_oidc_iam
# CASSANDRA_LOCAL_DATA_CENTER=datacenter1
# CASSANDRA_USERNAME=cassandra_user_name
# CASSANDRA_PASSWORD=cassandra_password

########################################################################################


########################################################################################
## TRUST STORE FILE
## If the organization has their own internal CA which is used to sign server 
## certificates and to which the HTTP client in the IAM tool needs to connect,
## then put roots and intermediates here. Otherwise leave undefined and the 
## HTTP clients will use the OS default trust store.
## 
## !!!!!!!!!!!!!!  IMPORTANT  !!!!!!!!!!!!!!!!!!
##
## If the TRUST_STORE_FILE is defined, then it MUST contain all root
## and intermediate certificates of every service which the HTTP client will
## invoke, such as external OIDC providers (Microsoft, OKTA, etc.) and other
## services. It would be best to export the OS trust store certificates in
## pem format and add any local CA roots and intermediates as required.
TRUST_STORE_FILE=/usr/local/certs/trust-store.pem
########################################################################################


########################################################################################
## OPENSEARCH ENV SETTINGS
## Note that the OPENSEARCH client will also use the TRUST_STORE_FILE
OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200
OPENSEARCH_PROTOCOL=https
OPENSEARCH_BASIC_AUTH_USERNAME=opensearch_username
OPENSEARCH_BASIC_AUTH_PASSWORD=opensearch_password
REJECT_UNAUTHORIZED=false
########################################################################################



########################################################################################
## SECURITY EVENTS CALLBACK URI
## For events such as failed logins, successful logins, logins with
## duress passwords, reset passwords, and many more to come. This 
## is a placeholder implementation until the OpenID Shared Signals
## framework is finalized. The Shared Signals framework will eventually
## supercede this implementation.
## The request body is defined in the /lib/models/security-events.ts file.
SECURITY_EVENT_CALLBACK_URI=http://localhost:3000/api/security-events/handler
########################################################################################

########################################################################################
## SMS SERVICE WRAPPER URI
## For sending SMS (examples would be password reset or just verifying the phone number)
## There are a lot of SMS providers out there and this IAM tool cannot support all of
## them. However, if an organization already has an SMS provider, then they can create
## a wrapper service for it, which the IAM tool *CAN* call. Only define this setting
## if there is such an available service. The service should check the incoming
## bearer token to make sure that it has the appropriate scope: sms.send
## 
## The request body is defined in the /lib/models/sms.ts file.
SMS_SERVICE_WRAPPER_URI=http://localhost:3000/api/sms-service/handler
########################################################################################



########################################################################################
## GRAPHQL SETTINGS
ALLOW_GRAPHQL_INTROSPECTION=true
ALLOW_GRAPHQL_ERROR_STACK_TRACES=true
########################################################################################


########################################################################################
## LOGGING SETTINGS
LOG_FILE_DIRECTORY=/usr/local/opentrust/logs
LOG_TO_STD_OUT=true
LOG_LEVEL=trace
########################################################################################



########################################################################################
## GENERAL HTTP CLIENT SETTING FOR TIMEOUT (IN MILLISECONDS)
HTTP_TIMEOUT_MS=60000

## HTTPS CLIENT SETTINGS. 
## These settings are for systems that require mTLS (mutual TLS), which mean that
## the HTTP clients need to be configured with a private key, a certificate, optionally
## a password for the private key if it is encrypted, and optionally a trust store
## if the system uses a private certificate authority with its own root and intermediate
## certificates
## 
## These will be used for all outbound HTTP calls, even those calls which include a 
## client JWT in the Authorization header. 
##
## !!!!!!!!!!! IMPORTANT  !!!!!!!!!!!
##
## This will affect ALL outbound HTTP calls, that is, to OpenSearch, to Microsoft, to Google
## to OKTA, etc. So be sure that all external and internal services support
## mTLS, otherwise you will get TLS errors.
## 
## To enable MTLS for client connections, set MTLS_USE_PKI_IDENTITY to true. 
## Default is false if omitted.
##
## !!!!!!!!!!!!  IMPORTANT  !!!!!!!!!!!!!!!
## All HTTP client instances will use the TRUST_STORE_FILE if it is defined,
## otherwise the clients will use the OS default trust store.
MTLS_USE_PKI_IDENTITY=false
MTLS_PKI_IDENTITY_PRIVATE_KEY_FILE=/usr/local/mtls/private.pem
MTLS_PKI_IDENTITY_CERTIFICATE_FILE=/usr/local/mtls/certificate.pem
MTLS_PKI_IDENTITY_PRIVATE_KEY_PASSWORD=private_key_password


## Is there a proxy server that outbound calls need to use? values are true | false
## Default is false if omitted.
HTTP_CLIENT_USE_PROXY=false
## Protocol is either https | http
# HTTP_PROXY_PROTOCOL=https
# HTTP_PROXY_HOST=https://domain.com
# HTTP_PROXY_PORT=8080
## Does the proxy require authentication? Values are true | false. If true, make sure
## to include the username and password values.
# HTTP_PROXY_USE_AUTHENTICATION=false
# HTTP_PROXY_USERNAME=myusername
# HTTP_PROXY_PASSWORD=mypassword
########################################################################################




########################################################################################
## EMAIL SERVER SETTINGS
########################################################################################
SMTP_ENABLED=true
EMAIL_SERVER_HOST=smtp.my.email.provider
EMAIL_SERVER_PORT=587
EMAIL_SERVER_USERNAME=email_username
EMAIL_SERVER_PASSWORD=email_service_password
EMAIL_SERVER_USE_CONNECTION_POOL=false
## If there is a proxy through which a connection should be made to the email server
# EMAIL_SERVER_PROXY=

# Set to true only if you need to, for development or emergency troubleshooting purposes.
EMAIL_CLIENT_LOG_TO_CONSOLE=true
EMAIL_CLIENT_DEBUG_LOG=false

# Email Security settings: For nodemailer configuration, you can both set "security=false"
# and get an upgrade to TLS automatically with the STARTTLS command. See:
# https://nodemailer.com/smtp
#
# What this means:
# If the EMAIL_SERVER_PORT is 465 then set this value of EMAIL_SERVER_USE_SECURE 
# to true, otherwise set the value to false (or omit the value in the env file.).
# If you are using port 587 and you CAN upgrade to secure connections, then set
# EMAIL_SERVER_REQUIRE_TLS to true
EMAIL_SERVER_USE_SECURE=false
EMAIL_SERVER_REQUIRE_TLS=true


########################################################################################
##   SYSTEM INITIALIZATION SETTINGS
########################################################################################
## true | false | omit the settting
SYSTEM_INIT=true
SYSTEM_INIT_CERTIFICATE_FILE=/usr/local/certs/opentrust-init/initialization.crt
