
########################################################################################
## ENCRYPTION KEY MANAGEMENT SETTINGS
########################################################################################
##
## KMS_STRATEGY: Required. The value is one of googlekms | awskms | azurekms | tencentkms | custom | filesystem | none
## 
##      "filesystem" is ONLY for local development. Do not use in higher-level systems
##
##      "custom" is an customer-supplied service which implements decryption and encryption 
##      endpoints with a specific format. See the file at /lib/kms/custom-kms.ts
##
##      "none" is for those (production) cases where the database already is integrated with an HSM
##      and can perform column-level encryption on certain data. It can also be used for
##      local development in the absence of a KMS service.
##
KMS_STRATEGY=filesystem
##
## Additional parameters for encryption services based on strategy chosen:
## 
##
## For Google's KMS
## ================
## 1)   GOOGLE_APPLICATION_CREDENTIALS: Optional. This variable can be omitted if using Google's
##      Application Default Credentials. This variable can be set for local development
##      and should be based on a Google Service Account.
GOOGLE_APPLICATION_CREDENTIALS=/path/to/the/json/file.json
## 2)   GOOGLE_KMS_PROJECT_ID, GOOGLE_KMS_LOCATION_ID, GOOGLE_KMS_KEY_RING_ID, GOOGLE_KMS_KEY_ID: Required
GOOGLE_KMS_PROJECT_ID=googleprojectid
GOOGLE_KMS_LOCATION_ID=googlelocationid
GOOGLE_KMS_KEY_RING_ID=googlekeyringid
GOOGLE_KMS_KEY_ID=googlekeyid
## 3)   MAX_PLAIN_TEXT_LENGTH: Required. For Google software-based keys, this is 64 KiB. For
##      Google's hardware-based keys, this is 8 KiB
MAX_PLAIN_TEXT_LENGTH=65535

## For a Custom KMS
## ================
## 1)   CUSTOM_KMS_ENCRYPTION_ENDPOINT, CUSTOM_KMS_DECRYPTION_ENDPOINT: Required
CUSTOM_KMS_ENCRYPTION_ENDPOINT=https://domain/path
CUSTOM_KMS_DECRYPTION_ENDPOINT=https://domain/path
##
## For a filesystem-based KMS:
## ===========================
## 1)   FS_BASED_DATA_DIR: Required. Where to store the key file if using a 
##      file system based approach to storage.
##      The key file name under this directory needs to be named: kms-keys.json
FS_BASED_DATA_DIR=/path/to/data/directory
##
##
## For AWS KMS
## ===============
## For AWS, the situation for provisioning credentials is similar to that of
## Google. You can either let AWS automatically provision credentials on the
## server if you are running on AWS, or you can manually set the credentials
## in environment variables. For local development, if you are using the
## AWS CLI, you can set up credentials for automatic provisioning. If you
## cannot do this for local development, then you can set various env values
## as explained below.
##
## If you want to manually set the credentials set AWS_KMS_USE_ACCESS_KEYS to true.
## Defaults to false if omitted.
## 1)   If AWS_KMS_USE_ACCESS_KEYS is set to true, then you must provide both the 
##      AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY values. The AWS_SESSION_TOKEN
##      property is optional.
AWS_KMS_USE_ACCESS_KEYS=true
AWS_ACCESS_KEY_ID=awsaccesskeyid
AWS_SECRET_ACCESS_KEY=awssecretaccesskey
AWS_SESSION_TOKEN=awssessiontoken
## 2)   The AWS_REGION property is required, regardless of the type of credentials in use.
AWS_REGION=awsregion
## 3)   The AWS_KMS_KEY_ID property is required.
AWS_KMS_KEY_ID=awskmskeyid
## 4)   The AWSK_KMS_USE_FIPS_ENDPOINT (false | true) property is optional and defaults to false if omitted
AWSK_KMS_USE_FIPS_ENDPOINT=false
## 5)   MAX_PLAIN_TEXT_LENGTH: Required. AWS has a maximum length of 4096 for symmetric encryption.
## MAX_PLAIN_TEXT_LENGTH=4096
##
##
## For Azure KMS
## ===============
## 1)   AZURE_KMS_VAULT_URL : Required.
AZURE_KMS_VAULT_URL=https://your-key-name.value.azure.net/
## 2)   AZURE_CLIENT_ID, AZURE_CLIENT_SECRET, AZURE_TENANT_ID: Optional
##      If you cannot use a Microsoft managed identity (for example, if you are
##      on your development machine or are not deploying on Azure) then 
##      set these value. The Microsoft DefaultAzureCredential class will 
##      automatically cycle through a number of different methods for
##      obtaining credentials, one of which will include looking for these
##      exact env properties.
AZURE_CLIENT_ID=azurekmsapplicationid
AZURE_CLIENT_SECRET=azurekmsclientsecret
AZURE_TENANT_ID=azuretenantid
## 3)   AZURE_KMS_KEY_NAME: Required. This is the key name that will be used
##      to retrieve the specific key for encryption/decryption operations
AZURE_KMS_KEY_NAME=azurekmskeyname
## 4)   MAX_PLAIN_TEXT_LENGTH: Required. For Azure, the maximum plain text size 
##      is 4096 for symmetric encryption
## MAX_PLAIN_TEXT_LENGTH=4096
##
##
## For Tencent KMS
## ===============
## 1)   TENCENT_KMS_SECRET_ID and TENCENT_KMS_SECRET_KEY: Required
TENCENT_KMS_SECRET_ID=tencentkmssecretid
TENCENT_KMS_SECRET_KEY=tencentkmssecretkey
## 2)   TENCENT_KMS_REGION: Required
TENCENT_KMS_REGION=tencentkmsregion
## 3)   TENCENT_KMS_KEY_ID: Required
TENCENT_KMS_KEY_ID=tencentkmskeyid
## 4)   TENCENT_KMS_ENDPOINT_URI: Required
TENCENT_KMS_ENDPOINT_URI=tencentkmsendpointuri
## 5)   MAX_PLAIN_TEXT_LENGTH: Required. The maximum Tencent allows is 4kb
## MAX_PLAIN_TEXT_LENGTH=4096


########################################################################################
## MULTI-FACTOR AUTHENTICATION SETTINGS (USED FOR TOTP AND SECURITY KEYS)
########################################################################################
## 1)   AUTH_DOMAIN: Required. Need to specify the auth domain for OIDC
AUTH_DOMAIN=http://localhost:3000

## If using TOTP for multi-factor authentication we need to set the issuer
## value. 
## 1)   MFA_ISSUER, MFA_ORIGIN, MFA_ID: Required
##      The MFA_ISSUER value can be set to your organization, and should include the environment
##      if it is not a production environment:  Example: MFA_ISSUER=My Org DEV
##      The MFA_ORIGIN is just the http scheme, domain, and optionally port
##      The MFA_ID is just the domain (no schema or port)
MFA_ISSUER=Open Trust Development
MFA_ORIGIN=http://localhost:3000
MFA_ID=localhost


########################################################################################
## PORTAL AUTHENTICATION SETTINGS
########################################################################################
## PORTAL_AUTH_TOKEN_TTL_HOURS: Optional
## For users who are logging into the tenant itself for administration
## purposes, how long should the token be issued for (in hours) if 
## different from the default TTL in the constants file?
PORTAL_AUTH_TOKEN_TTL_HOURS=10


########################################################################################
## DB ENV SETTINGS
########################################################################################
## 1)   DAO_STRATEGY: Required is one of rdb (relational DB) | cassandra | mongo 
DAO_STRATEGY=rdb
# DAO_STRATEGY=cassandra
## 2)   RDB_DIALECT: Required if DAO_STRATEGY is rdb. The value is one of postgres | mysql | oracle | mssql 
RDB_DIALECT=mysql
# RDB_DIALECT=postgres
# RDB_DIALECT=mssql
# RDB_DIALECT=oracle
## 
## DATABASE-SPECIFIC SETTINGS
## 
## MYSQL
## =====
##  1)  All parameters are required
DB_USER=dbuser
DB_PASSWORD=dbpassword
DB_HOST=localhost
DB_NAME=dbname
DB_PORT=3306
DB_MIN_POOL_SIZE=4
DB_MAX_POOL_SIZE=10
DB_ENABLE_QUERY_LOGGING=true

## POSTGRESQL
## ==========
##  1)  All parameters are required
# DB_USER=dbuser
# DB_PASSWORD=dbpassword
# DB_HOST=dbhost
# DB_NAME=dbname
# DB_PORT=5432
# DB_MIN_POOL_SIZE=4
# DB_MAX_POOL_SIZE=10
# DB_ENABLE_QUERY_LOGGING=true

## MSSQL
## =====
##  1)  All parameters are required except for DB_AUTH_SCHEME and DB_USER_DOMAIN
##      Those need to be set if using AD for authentication
# DB_USER=dbuser
# DB_PASSWORD=dbpassword
# DB_HOST=dbhost
# DB_NAME=dbname
# DB_PORT=1433
# DB_MIN_POOL_SIZE=4
# DB_MAX_POOL_SIZE=10
# DB_ENABLE_QUERY_LOGGING=true
## Specific to MSSQL if using AD for authentication
# DB_AUTH_SCHEME="ntlm"
# DB_USER_DOMAIN="opentrust.org"

## ORACLE
## ======
##  1)  All parameters are required
# DB_USER=dbuser
# DB_PASSWORD=dbpassword
# DB_HOST=dbhost
# DB_ORACLE_SERVICE_NAME=oracleservicename
# DB_PORT=1521
# DB_MIN_POOL_SIZE=4
# DB_MAX_POOL_SIZE=10
# DB_ENABLE_QUERY_LOGGING=true
## Specific to ORACLE if using AD for authentication
# DB_ORACLE_USER_EXTERNAL_AUTH= true | false


## CASSANDRA
##  1)  All parameters are required
## CASSANDRA_CONTACT_POINTS is a comma-separated list of hosts to connect to
# CASSANDRA_CONTACT_POINTS=localhost
# CASSANDRA_KEYSPACE=cassandrakeyspace
# CASSANDRA_LOCAL_DATA_CENTER=datacenter1
# CASSANDRA_USERNAME=cassandrausername
# CASSANDRA_PASSWORD=cassandrapassword



########################################################################################
## TRUST STORE FILE
## If the organization has their own internal CA which is used to sign server 
## certificates and to which the HTTP client in the IAM tool needs to connect,
## then put roots and intermediates here. Otherwise leave undefined and the 
## HTTP clients will use the OS default trust store.
## 
## !!!!!!!!!!!!!!  IMPORTANT  !!!!!!!!!!!!!!!!!!
##
## If the TRUST_STORE_FILE is defined, then it MUST contain all root
## and intermediate certificates of every service which the HTTP client will
## invoke, such as external OIDC providers (Microsoft, OKTA, etc.) and other
## services. It would be best to export the OS trust store certificates in
## pem format and add any local CA roots and intermediates as required.
########################################################################################
TRUST_STORE_FILE=/path/to/trust-store.pem

########################################################################################
## OPENSEARCH ENV SETTINGS
## Note that the OPENSEARCH client will also use the TRUST_STORE_FILE if defined, 
## otherwise it will use the OS default trust store
########################################################################################
OPENSEARCH_HOST=opensearchost
OPENSEARCH_PORT=9200
OPENSEARCH_PROTOCOL=https
OPENSEARCH_BASIC_AUTH_USERNAME=openseachusername
OPENSEARCH_BASIC_AUTH_PASSWORD=opensearchpassword
REJECT_UNAUTHORIZED=true


########################################################################################
## SECURITY EVENTS CALLBACK URI
## For events such as failed logins, successful logins, logins with
## duress passwords, reset passwords, and many more to come. This 
## is a placeholder implementation until the OpenID Shared Signals
## supports a wider variety of security events. 
##
## The request body is defined in the /lib/models/security-events.ts file.
## For local development, this can be set to the value below.
########################################################################################
SECURITY_EVENT_CALLBACK_URI=http://localhost:3000/api/security-events/handler


########################################################################################
## SMS SERVICE WRAPPER URI
## For sending SMS (examples would be password reset or just verifying the phone number)
## There are a lot of SMS providers out there and this IAM tool cannot support all of
## them. However, if an organization already has an SMS provider, then they can create
## a wrapper service for it, which the IAM tool *CAN* call. Only define this setting
## if there is such an available service. The service should check the incoming
## bearer token to make sure that it has the appropriate scope: sms.send
## 
## The request body is defined in the /lib/models/sms.ts file.
## For local development, this can be set to the value below.
########################################################################################
SMS_SERVICE_WRAPPER_URI=http://localhost:3000/api/sms-service/handler


########################################################################################
## GRAPHQL SETTINGS
## Set to false for anything but local development or (possibly a DEV environment)
########################################################################################
ALLOW_GRAPHQL_INTROSPECTION=true
ALLOW_GRAPHQL_ERROR_STACK_TRACES=true


########################################################################################
## LOGGING SETTINGS
########################################################################################
LOG_FILE_DIRECTORY=/path/to/log/file/directory
LOG_TO_STD_OUT=true
LOG_LEVEL=trace


########################################################################################
## HTTP CLIENT SETTING
########################################################################################
## 1)   HTTP_TIMEOUT_MS: Optional. The system defaults to 60000 ms if not defined
HTTP_TIMEOUT_MS=60000
##
## Notes on the following 4 http client settings:
## These settings are for systems that require mTLS (mutual TLS), which mean that
## the HTTP clients need to be configured with a private key, a certificate, optionally
## a password for the private key if it is encrypted, and optionally a trust store
## if the system uses a private certificate authority with its own root and intermediate
## certificates
## 
## These will be used for all outbound HTTP calls, even those calls which include a 
## client JWT in the Authorization header. 
##
## !!!!!!!!!!! IMPORTANT  !!!!!!!!!!!
##
## This will affect ALL outbound HTTP calls, that is, to OpenSearch, to Microsoft, to Google
## to OKTA, event callback endpoints, sms endpoints, etc. So be sure that all external and 
## internal services support mTLS, otherwise you will get TLS errors.
## 
## To enable MTLS for client connections, set MTLS_USE_PKI_IDENTITY to true. 
## Default is false if omitted.
##
## !!!!!!!!!!!!  IMPORTANT  !!!!!!!!!!!!!!!
## All HTTP client instances will use the TRUST_STORE_FILE if it is defined,
## otherwise the clients will use the OS default trust store.
MTLS_USE_PKI_IDENTITY=false
MTLS_PKI_IDENTITY_PRIVATE_KEY_FILE=/path/to/private-key.pem
MTLS_PKI_IDENTITY_CERTIFICATE_FILE=/path/to/certificate.pem
MTLS_PKI_IDENTITY_PRIVATE_KEY_PASSWORD=privatekeypassword

## Notes on the following 7 http proxy settings
## Is there a proxy server that outbound calls need to use? values are true | false
## Default is false if omitted. If false or omitted, all other http proxy settings
## are ignored
HTTP_CLIENT_USE_PROXY=false
## HTTP_PROXY_PROTOCOL: Omit if not using a proxy. Otherwise required. Values are https | http
# HTTP_PROXY_PROTOCOL=https
# HTTP_PROXY_HOST=https://domain.com
# HTTP_PROXY_PORT=8080
## Does the proxy require authentication? Values are true | false. If true, make sure
## to include the username and password values.
# HTTP_PROXY_USE_AUTHENTICATION=false
# HTTP_PROXY_USERNAME=proxyusername
# HTTP_PROXY_PASSWORD=proxypassword




########################################################################################
## EMAIL SERVER SETTINGS
########################################################################################
SMTP_ENABLED=true
EMAIL_SERVER_HOST=emailserverhost
EMAIL_SERVER_PORT=587
EMAIL_SERVER_USERNAME=emailserverusername
EMAIL_SERVER_PASSWORD=emailserverpassword
EMAIL_SERVER_USE_CONNECTION_POOL=false
## If there is a proxy through which a connection should be made to the email server
# EMAIL_SERVER_PROXY=

# Set to true only if you need to, for development or emergency troubleshooting purposes.
EMAIL_CLIENT_LOG_TO_CONSOLE=true
EMAIL_CLIENT_DEBUG_LOG=false

# Email Security settings: For nodemailer configuration, you can both set "security=false"
# and get an upgrade to TLS automatically with the STARTTLS command. See:
# https://nodemailer.com/smtp
#
# What this means:
# If the EMAIL_SERVER_PORT is 465 then set this value of EMAIL_SERVER_USE_SECURE 
# to true, otherwise set the value to false (or omit the value in the env file.).
# If you are using port 587 and you CAN upgrade to secure connections, then set
# EMAIL_SERVER_REQUIRE_TLS to true
EMAIL_SERVER_USE_SECURE=false
EMAIL_SERVER_REQUIRE_TLS=true


########################################################################################
##   SYSTEM INITIALIZATION SETTINGS
########################################################################################
## 1)   SYSTEM_INIT. Required if performing a system
##      initialization. Otherwise omit. Values are true | false      
SYSTEM_INIT=true
## 2)   SYSTEM_INIT_CERTIFICATE_FILE: Required is performing a system initialization.
##      Otherwise omit. This should the be the fully qualified path to a certificate
##      file on the file sytem.
SYSTEM_INIT_CERTIFICATE_FILE=/path/to/system/init/initialization.crt
