
## KMS_STRATEGY is one of googlekms | awskms | azurekms | tencentkms | custom | filesystem | none
## 
##      "filesystem" is ONLY for local development. Do not use in higher-level systems
##
##      "custom" is an customer-supplied service which implements decryption and encryption 
##      endpoints with a specific format. See the file at /lib/kms/custom-kms.ts
##
##      "none" is for those (production) cases where the database already is integrated with an HSM
##      and can perform column-level encryption on certain data. It can also be used for
##      local development in the absence of a KMS service.
##
KMS_STRATEGY=filesystem
## Additional parameters for encryption services based on strategy chosen:
## 
## For Google's KMS
## ================
##      GOOGLE_KMS_CREDENTIAL_FILE_LOCATION
##      MAX_PLAIN_TEXT_LENGTH
##
## For a Custom KMS
## ================
##      CUSTOM_KMS_ENCRYPTION_ENDPOINT=https://....
##      CUSTOM_KMS_DECRYPTION_ENDPOINT=https://....
##
## For a filesystem-based KMS:
## ===========================
##      Where to store the data files if using a file system based approach to storage
##          The key file name under this directory needs to be named: kms-keys.json
FS_BASED_DATA_DIR=/path/to/the/key/files/directory
##
## For Tencent KMS
## ===============
##      MAX_PLAIN_TEXT_LENGTH
##
## For AWS KMS
## ===============
##      MAX_PLAIN_TEXT_LENGTH
##
## For Azure KMS
## ===============
##      MAX_PLAIN_TEXT_LENGTH


## DAO_STRATEGY is one of rdb (relational DB) | cassandra | mongo 
DAO_STRATEGY=rdb
## RDB_DIALECT is one of postgres | mysql | oracle | mssql (which match the dialect options of Sequelize)
RDB_DIALECT=mysql

## Need to specify the auth domain for OIDC
## The port value can be omitted if using the standard 443 or 80 ports
AUTH_DOMAIN=https://mydomain:myport

## If using TOTP for multi-factor authentication we need to set the issuer
## value
MFA_ISSUER="The name of your MFA Issuer"
## The port value can be omitted if using the standard 443 or 80 ports
MFA_ORIGIN="https://mydomain:myport"
MFA_ID=yourdomain

## Optional setting:
## For users who are logging into the tenant itself for administration
## purposes, how long should the token be issued for (in hours) if 
## different from the default TTL in the constants file?
PORTAL_AUTH_TOKEN_TTL_HOURS=10

## DB ENV SETTINGS
DB_USER=dbusername
DB_PASSWORD=dbpassword
DB_HOST=dbhost
DB_NAME=dbname
DB_PORT=dbport
DB_MIN_POOL_SIZE=4
DB_MAX_POOL_SIZE=10
## DB_AUTH_SCHEME and DB_USER_DOMAIN are for databases which
## use an external LDAP server (such as Microsoft AD) for authentication
## of the credentials
DB_AUTH_SCHEME=NTLM
DB_USER_DOMAIN=mydomain.com
DB_ENABLE_QUERY_LOGGING=false


## OPENSEARCH ENV SETTINGS
OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200
OPENSEARCH_PROTOCOL=https
OPENSEARCH_BASIC_AUTH_USERNAME=opentrustclientname
OPENSEARCH_BASIC_AUTH_PASSWORD=opentrustpassword
TRUST_STORE_PATH=/path/to/truststore/truststore.pem
REJECT_UNAUTHORIZED=false

## SECURITY EVENTS CALLBACK URI
## For events such as failed logins, successful logins, logins with
## duress passwords, reset passwords, and many more to come. This 
## is a placeholder implementation until the OpenID Shared Signals
## framework is finalized. The Shared Signals framework will eventually
## supercede this implementation.
## The request body is defined in the /lib/models/security-events.ts file.
SECURITY_EVENT_CALLBACK_URI=https://mydomain/security/event/handler


## GRAPHQL SETTINGS
ALLOW_GRAPHQL_INTROSPECTION=true
ALLOW_GRAPHQL_ERROR_STACK_TRACES=true


## LOGGING SETTINGS
LOG_FILE_DIRECTORY=/path/to/log/file/directory/logs
LOG_TO_STD_OUT=true
LOG_LEVEL=trace

## GENERAL HTTP CLIENT SETTING FOR TIMEOUT (IN MILLISECONDS)
HTTP_TIMEOUT_MS=60000

## HTTPS CLIENT SETTINGS. 
## These settings are for systems that require mTLS (mutual TLS), which mean that
## the HTTP clients need to be configured with a private key, a certificate, optionally
## a password for the private key if it is encrypted, and optionally a trust store
## if the system uses a private certificate authority with its own root and intermediate
## certificates
## 
## These will be used for all outbound calls, even those calls which include a 
## client JWT in the Authorization header.
## 
## To enable MTLS for client connections, set MTLS_USE_PKI_IDENTITY to true. 
## Default is false if omitted.
MTLS_USE_PKI_IDENTITY=true
MTLS_PKI_IDENTITY_PRIVATE_KEY_FILE=/path/to/private/key/private.pem
MTLS_PKI_IDENTITY_CERTIFICATE_FILE=/path/to/certificate/certificate.pem
MTLS_PKI_IDENTITY_PRIVATE_KEY_PASSWORD=privatekeypassword
MTLS_PKI_IDENTITY_TRUST_STORE_FILE=/path/to/truststore/truststore.pem

## Is there a proxy server that outbound calls need to use? values are true | false
## Default is false if omitted.
HTTP_CLIENT_USE_PROXY=false
## Protocol is either https | http
HTTP_PROXY_PROTOCOL=https
HTTP_PROXY_HOST=https://domain.com
HTTP_PROXY_PORT=8080
## Does the proxy require authentication? Values are true | false. If true, make sure
## to include the username and password values.
HTTP_PROXY_USE_AUTHENTICATION=false
HTTP_PROXY_USERNAME=myusername
HTTP_PROXY_PASSWORD=mypassword


########################################################################################
## EMAIL SERVER SETTINGS
########################################################################################
SMTP_ENABLED=true
EMAIL_SERVER_HOST=smtp.ethereal.email
EMAIL_SERVER_PORT=587
EMAIL_SERVER_USERNAME=myaccount@ethereal.email
EMAIL_SERVER_PASSWORD=mypassword
EMAIL_SERVER_USE_CONNECTION_POOL=false
## If there is a proxy through which a connection should be made to the email server
# EMAIL_SERVER_PROXY=

# Set to true only if you need to, for development or emergency troubleshooting purposes.
EMAIL_CLIENT_LOG_TO_CONSOLE=true
EMAIL_CLIENT_DEBUG_LOG=false

# Email Security settings: For nodemailer configuration, you can both set "security=false"
# and get an upgrade to TLS automatically with the STARTTLS command. See:
# https://nodemailer.com/smtp
#
# What this means:
# If the EMAIL_SERVER_PORT is 465 then set this value of EMAIL_SERVER_USE_SECURE 
# to true, otherwise set the value to false (or omit the value in the env file.).
# If you are using port 587 and you CAN upgrade to secure connections, then set
# EMAIL_SERVER_REQUIRE_TLS to true
EMAIL_SERVER_USE_SECURE=false
EMAIL_SERVER_REQUIRE_TLS=true

########################################################################################
##   SYSTEM INITIALIZATION SETTINGS
########################################################################################
## SYSTEM_INIT = true | false | omit the settting
SYSTEM_INIT=false
## SYSTEM_INIT_CERTIFICATE_FILE = /path/to/cert/file.pem or omit the setting
SYSTEM_INIT_CERTIFICATE_FILE=/fully/qualified/path/to/certificate.pem