:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/*
html,
body {
   max-width: 100vw; 
  
}
*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

a.undecorated {
    text-decoration: none;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.detail-page-subheader {
    font-weight: bold;
    padding: 8px;
    background-color: #f7f7f7;    
}

.left-navigation {
    display: inline-flex;
    align-items: center;
    padding: 8px 2px;
    
}

.left-navigation:hover {
    background-color: #1976d2;
    color: white;
    border-radius: 4px;
}

