:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/*
html,
body {
   max-width: 100vw; 
  
}
*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

a.undecorated {
    text-decoration: none;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.detail-page-subheader {
    font-weight: bold;
    padding: 8px;    
    background-color: #005288;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.left-navigation-section-header {
    display: inline-flex;
    align-items: center;
    padding: 8px 2px;    
}

.left-navigation {
    display: inline-flex;
    align-items: center;
    padding: 8px 2px;    
}

.left-navigation:hover {
    /*background-color: #1976d2; */
    background-color: #005288;
    color: white;
    border-radius: 4px;
}

.social-media-login-container {
    cursor: pointer;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 1px 1px 0px 0px grey;
    justify-items: center;
    border: solid 0.5px lightgrey;
    padding: 12px;
    align-items: center;
}